version: "3.7"
networks:
    peshsaf:

services:
    nginx:
        image: nginx:latest
        working_dir: /var/www
        ports:
            - "80:80"
        volumes:
            - './public:/var/www/public'
            - './storage/app:/var/www/storage/app:cached'
            - './docker/nginx/nginx-site.conf:/etc/nginx/conf.d/default.conf'
        networks:
            - peshsaf
    php-fpm:
        build:
            context: ./docker/php
            dockerfile: Dockerfile
            args:
                - UID=${UID-1000}
                - GID=${GID-1000}
        image: php-fpm
        working_dir: /var/www
        volumes:
            - './:/var/www/'
        networks:
            - peshsaf
    node:
        build:
            context: .
            dockerfile: ./docker/node.Dockerfile
        links:
            - php-fpm
            - nginx
        volumes:
            - ./:/var/www/html:cached
        working_dir: /var/www/html
        tty: true
        ports:
            - ${NODE_PORT-8080}:${NODE_PORT-8080}
            - "5173:5173"
        expose:
            - ${NODE_PORT-8080}
            - 5173
        environment:
            HOST: "0.0.0.0"
            GIT_SSL_NO_VERIFY: "true"
        networks:
            - peshsaf
    mysql:
        image: mysql:8.1.0
        restart: always
        ports:
            - "3309:3306"
        environment:
            MYSQL_DATABASE: peshsaf
            MYSQL_PASSWORD: password
            MYSQL_ROOT_PASSWORD: password
        volumes:
            - './storage/db-data:/var/lib/mysql'
        networks:
            - peshsaf
